@model RealEstate.WebUI.Areas.Admin.ViewModels.PrivilegesUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserProperty.UserId" />
            <input type="hidden" asp-for="UserProperty.PropertyId" />
            <div class="form-group">
                <label asp-for="UserProperty.HasWrite" class="control-label"></label>
                <input asp-for="UserProperty.HasWrite" class="form-control" />
                <span asp-validation-for="UserProperty.HasWrite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="RevokePrivilege" asp-route-id="@Model.UserProperty.Id" asp-route-propertyId="@Model.Property.Id">Revoke Privilege</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
